---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<APP_ID>&id=3530597&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-99.13,"lat":19.43},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"base":"stations","main":{"temp":23.69,"pressure":1026,"humidity":36,"temp_min":21,"temp_max":26},"visibility":11265,"wind":{"speed":2.1,"deg":140},"clouds":{"all":40},"dt":1535226720,"sys":{"type":1,"id":3998,"message":0.0228,"country":"MX","sunrise":1535199598,"sunset":1535244982},"id":3530597,"name":"Mexico
        City","cod":200}'
  recorded_at: Sat, 25 Aug 2018 20:42:10 GMT
recorded_with: VCR 4.0.0
