---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<APP_ID>&id=3530597&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0.0236,"cnt":40,"list":[{"dt":1536440400,"main":{"temp":22.13,"temp_min":18.7,"temp_max":22.13,"pressure":760.58,"sea_level":1019.4,"grnd_level":760.58,"humidity":77,"temp_kf":3.43},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":{"all":12},"wind":{"speed":0.98,"deg":167.508},"rain":{"3h":1.385},"sys":{"pod":"d"},"dt_txt":"2018-09-08
        21:00:00"},{"dt":1536451200,"main":{"temp":18.4,"temp_min":15.83,"temp_max":18.4,"pressure":760.79,"sea_level":1020.4,"grnd_level":760.79,"humidity":84,"temp_kf":2.57},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"clouds":{"all":36},"wind":{"speed":0.7,"deg":329.003},"rain":{"3h":2.5},"sys":{"pod":"n"},"dt_txt":"2018-09-09
        00:00:00"},{"dt":1536462000,"main":{"temp":12.43,"temp_min":10.72,"temp_max":12.43,"pressure":762.46,"sea_l[...]
