---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<APP_ID>&q=Mexico%20City&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-99.13,"lat":19.43},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":23,"pressure":1025,"humidity":38,"temp_min":23,"temp_max":23},"visibility":12874,"wind":{"speed":7.2,"deg":300},"clouds":{"all":75},"dt":1532906220,"sys":{"type":1,"id":3998,"message":0.0031,"country":"MX","sunrise":1532866331,"sunset":1532913211},"id":3530597,"name":"Mexico
        City","cod":200}'
  recorded_at: Sun, 29 Jul 2018 23:47:48 GMT
recorded_with: VCR 4.0.0
